@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<h1>Search</h1>
<div class="input-group mb-3" style="float:right;">
    <input type="text" class="form-control" placeholder="Search Here" aria-label="Recipient's username" aria-describedby="basic-addon2" name="SearchString">
    <button type="submit" class="input-group-text" id="basic-addon2"><img src=~/Images/magglass.jpeg style="width:25px;height:25px;"></button>
</div>